.landscape {
	background-image:url(https://media.giphy.com/media/3keeR8OPbi7DO/giphy.gif);
	background-size:cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 0 170%;

}